<!DOCTYPE html>
<html lang="en">

    <!--This part containg the other file this web will be styled by-->
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={{url_for('static',filename='stylesabout.css')}}>

    </head>

        <body>

            <!--Header containing all the other web pages this web page will link to -->
            <header>

                <ul>

                    <li><a href ="/">Home</a></li>
                    <li><a href ="/explore">Explore</a></li>

                </ul>
                
            </header>




            <!--A div containing my paragraph that talks a little about my website -->
            <div id="paragra">
                <h1>This Right Here is The About Page</h1>

                <p>The website is created by Zilong Wu on the 25th of may 2021, where the website is about famous places<br><br>
                This website is full of amazing famous places where you can see descriptions of the famous place, and see an image about the place.<br><br>
                But most importantly what you can to is you can add your own famous place to the website, and other people can see it too </p>
            </div>
    
        </body>

        
</html>